@import "./../../../styles.scss";

.jobs {
  h1 {
    font-weight: 600;
    margin-bottom: 0;
  }

  h2,
  h3 {
    margin-bottom: 0;
    margin-top: 1rem;
  }

  &__dates {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: $blue-dark;

    &__from,
    &__to {
      font-weight: 500;
    }

    &__current {
      color: $blue-dark;
    }
  }

  &__description {
    margin: 1rem 0 0 0;
  }

  &__tools,
  &__technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.5rem;

    &__item {
      color: $blue-dark;
      box-sizing: border-box;
    }
  }

  &__tools {
    &__container {
      margin-bottom: 1rem;
    }
  }
}
