<mat-card class="jobs card">
  <h1 class="title">
    <mat-icon> work </mat-icon>
    Employment
  </h1>

  <app-divider></app-divider>

  <ng-container *ngFor="let job of jobs; let index = index">
    <h2>
      {{ job.name }}
      <a [href]="job.url"> @{{ job.workplace }} </a>
    </h2>

    <div class="jobs__dates">
      <div class="jobs__dates__from">
        From: {{ monthNames[job.from.getMonth()] }},
        {{ job.from.getFullYear() }}
      </div>
      <div class="jobs__dates__to">
        <ng-container *ngIf="!job.isCurrent; else current">
          To: {{ monthNames[job.to.getMonth()] }},
          {{ job.to.getFullYear() }}
        </ng-container>
        <ng-template #current>
          To:
          <span class="jobs__dates__current">Now</span>
        </ng-template>
      </div>
    </div>

    <div class="jobs__description">{{ job.description }}</div>

    <div
      *ngIf="!!job.usedTechnologies.length"
      class="jobs__technologies__container"
    >
      <h3 class="title">
        <mat-icon> code </mat-icon>
        Used technologies
      </h3>
      <div class="jobs__technologies">
        <span
          *ngFor="let technology of job.usedTechnologies"
          class="jobs__technologies__item"
        >
          {{ technology }}
        </span>
      </div>
    </div>

    <div class="jobs__tools__container">
      <h3 class="title">
        <mat-icon> settings </mat-icon>
        Used tools
      </h3>
      <div class="jobs__tools">
        <span *ngFor="let tool of job.usedTools" class="jobs__tools__item">
          {{ tool }}
        </span>
      </div>
    </div>

    <app-divider *ngIf="index + 1 !== jobs?.length" [size]="1"></app-divider>
  </ng-container>
</mat-card>
