<mat-card class="jobs card">
  <h1 class="title">
    <mat-icon> work </mat-icon>
    {{ "jobs.title" | translate }}
  </h1>

  <app-divider></app-divider>

  <ng-container *ngFor="let job of jobs; let index = index">
    <h2>
      {{ job?.name ?? "" | translate }}
      <a [href]="job.url"> &#64;{{ job?.workplace ?? "" | translate }} </a>
    </h2>

    <div class="jobs__dates">
      <div class="jobs__dates__from">
        {{ "dates.from" | translate }}:
        {{ monthNames[job.from.getMonth()] | translate }},
        {{ job.from.getFullYear() }}
      </div>
      <div class="jobs__dates__to">
        <ng-container *ngIf="!job.isCurrent; else current">
          {{ "dates.to" | translate }}:
          {{ monthNames[job.to.getMonth()] | translate }},
          {{ job.to.getFullYear() }}
        </ng-container>
        <ng-template #current>
          {{ "dates.to" | translate }}:
          <span class="jobs__dates__current">
            {{ "dates.now" | translate }}
          </span>
        </ng-template>
      </div>
    </div>

    <div class="jobs__description">
      {{ job?.description ?? "" | translate }}
    </div>

    <div
      *ngIf="!!job.usedTechnologies.length"
      class="jobs__technologies__container"
    >
      <h3 class="title">
        <mat-icon> code </mat-icon>
        {{ "jobs.technologies" | translate }}
      </h3>
      <div class="jobs__technologies">
        <span
          *ngFor="let technology of job.usedTechnologies"
          class="jobs__technologies__item"
        >
          {{ technology ?? "" | translate }}
        </span>
      </div>
    </div>

    <div class="jobs__tools__container">
      <h3 class="title">
        <mat-icon> settings </mat-icon>
        {{ "jobs.tools" | translate }}
      </h3>
      <div class="jobs__tools">
        <span *ngFor="let tool of job.usedTools" class="jobs__tools__item">
          {{ tool ?? "" | translate }}
        </span>
      </div>
    </div>

    <app-divider *ngIf="index + 1 !== jobs?.length" [size]="1"></app-divider>
  </ng-container>
</mat-card>
