@import "./../../../styles.scss";

.schools {
  h1 {
    font-weight: 600;
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 0;
    margin-top: 1rem;
  }

  &__dates {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: $blue-dark;

    &__from,
    &__to {
      font-weight: 500;
    }

    &__current {
      color: $blue-dark;
    }
  }

  &__description {
    margin: 1rem 0;
  }
}
